# Ignore all files in the 'game' directory except for specific ones
/game/*
!/game/Assets/
/game/Assets/AssetStoreTools*
/game/Assets/AssetStoreTools*/**
/game/Library/
/game/Temp/
/game/Obj/
/game/Build/
/game/Builds/
/game/Logs/
/game/MemoryCaptures/
/game/UserSettings/
/game/*.csproj
/game/*.unityproj
/game/*.sln
/game/*.suo
/game/*.tmp
/game/*.user
/game/*.userprefs
/game/*.pidb
/game/*.booproj
/game/*.svd
/game/*.pdb
/game/*.opendb
/game/*.VC.db
/game/.vs/
/game/.vscode/
/game/*.apk
/game/*.aab
/game/*.unitypackage

# Ignore all files in the 'game-api' directory except for specific ones
/game-api/node_modules/
/game-api/.env
/game-api/.DS_Store
/game-api/*.log
/game-api/dist/
/game-api/build/
/game-api/.vscode/
/game-api/.vs/